.Header a{
    position: relative;
	text-decoration: none;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #1976d2;
    color: black;
    box-shadow: 3px 3px 5px #1976d2;
}
